
<% if current_user %>
  <%= link_to "Edit Profile", edit_user_path(current_user) %>
<% end %>

<%= link_to "Accessories", admin_bikeshops_path %>


<% current_user.orders.each do |order| %>
  <p><%= link_to "Order #{order.id} - #{order.status}", user_order_path(current_user, order) %></p>
<% end %>
